<% layout('layout/boilerplate.ejs')%>
<div class="row">
    <div class="col-6">
       
        <div id="YelpCampControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% campground.images.forEach((img,i)=> { %>
                <div class="carousel-item <%= i===0? 'active' : '' %> ">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

            </div>
            <%  if(campground.images.length>1) { %>
            <button class="carousel-control-prev" type="button" data-bs-target="#YelpCampControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#YelpCampControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title  %></h5>
                <p class="card-text"><%= campground.description %>.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location%></li>
                <li class="list-group-item">Submitted By <%= campground.author.username%></li>
                <li class="list-group-item">$<%=campground.price%>/night</li>
            </ul>
            <% if(currentUser && campground.author.equals(currentUser._id)) { %>
            <div class="card-body">
                <a href="/campgrounds/<%=campground._id %>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
     
    <div class="col-6">
        <div id="map"></div>
        <% if(currentUser){ %>
        <h2>Leave a review</h2>
        <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" novalidate class="mb-3 needs-validation">
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Title.
                </div>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea class="form-control" name="review[body]" id="body" rows="5" cols="30" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    review can't be empty
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        <% for(let review of campground.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">

                <h5 class="card-title">Rating: <%= review.rating %></h5>
                <% if(review.author) { %>
                <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username %></h6>
                <% } %>
                <p class="card-text">Review: <%= review.body %></p>

                <% if(currentUser && review.author.equals(currentUser._id)) { %>
                <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
                <% } %>


            </div>
        </div>
        <% } %>

    </div>
</div>




<script>
    const l1 = <%-JSON.stringify(campground)%>
        console.log(l1);

    mapboxgl.accessToken = 'pk.eyJ1IjoieWFzaDgxOSIsImEiOiJja3M2emR3cXYwMjFmMzBsdTMxcnFkZWh5In0.lyHbVmeVIuIjb_1a3HG82w';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: l1.geometry.coordinates,
        zoom: 9
    });
     map.addControl(new mapboxgl.NavigationControl());


    var marker = new mapboxgl.Marker()
        .setLngLat(l1.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({offset:25})
            .setHTML(
                `<h3>${l1.title}</h3><p>${l1.location}</p>`
            )
        )
        .addTo(map);

    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>